{{#each uploads as |upload|}}

  <div class="col-sm-6 col-md-4 col-xl-3" data-id="{{upload._id}}">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" data-url="{{upload.url}}" src="{{upload.url}}" alt="Card image cap">

      <div class="card-body">

        <section data-id="{{upload._id}}">
          <h6 class="card-title" data-id="{{upload._id}}">{{upload.title}}</h6>
          <p class="card-createDate">created on:{{upload.createdAt}}</p>
          <p class="card-updateDate">updated on:{{upload.updatedAt}}</p>
          <p class="card-tag">tags: {{upload.tag}}</p>


        </section>
      </div>

    </div>
  </div>
{{/each}}
